<!DOCTYPE html>
<html lang="ru">
  <%- include('layouts/header') %>
  <body>
    <%- include('layouts/navbar') %>
    <nav>
        <a href="/">На главную</a>
      </nav>
    <main>
      <article>
        <h1>День первый. Как я забыл покормить кота</h1>
        <p>Кто бы мог подумать, что семантика это так важно, мне срочно нужно было об этом поговорить. Взгляд упал на кота. Кот издал настойчивое «Мяу». И я понял — пришло время для первой записи в блог. И покормить кота.</p>
      </article>
      <aside>
        Тут могла быть ваша реклама
      </aside>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
