<!DOCTYPE html>
<html lang="ru">
  <%- include('layouts/header') %>
  <body>
    <%- include('layouts/navbar') %>
    <nav>
        <a href="/">На главную</a>
      </nav>
    <main>
      <h1>404 Page not found!</h1>
    </main>
    <%- include('layouts/footer') %>
  </body>
</html>
